.sidenav{
    top:0px;
    position: fixed;
    background-color: #1f1e1e;
    color: black;
    height: 100vh;
    width: 250px;
    z-index: 100;
    transition: ease-in-out 0.1s;
    animation: slideIn 0.2s forwards;

}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        
        transform: translateX(-100%);
    }
}

.exiting{
    animation: slideOut 0.2s forwards;
}



.sidenav .header{
    background-color: transparent;
    display: flex;
    padding-top: 0.1%;
    padding-left: 10px;
}

.sidenav .links{
    display: block;
    width: 100%;
}

.sideNavLinkBtn{
    display: flex;
    background-color: transparent;
    color: rgb(228, 228, 228);
    padding: 8px;
    padding-left: 18px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    border: none;
}

.sideNavLinkBtn i{
    margin-top: -1px;
    font-size: 24px;
}

.sideNavLinkBtn p{
    margin-left: 14px;
    font-size: 16px;

}

.sideNavLinkBtn:hover{
    background-color: #333;
}